.Toolbar {/* 
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; */
    background-color: #703b09;
    padding: 0px 10px;/* 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    z-index: 90; */
}

.Toolbar nav {
    height: 100%;
}
.Logo { 
    height: 80%;
    width: 8%;
}
.navbar-light .navbar-toggler {
    padding: 0px;
}