.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media(min-width: 500px){
    .SideDrawer {
        display: none;
    }
}

.Open {
    transition: translateX(0);
}

.Close {
    transition: translateX(-100%);
}

.Logo {
    height: 10%;
    width: 50%;
    margin-bottom: 32px;
}