.OrderSummary h3 {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #ccc;
    background-color: darkturquoise;
}

.OrderSummary p {
    text-shadow: 0.5px 0.5px #ccc;
    text-transform: capitalize;
}

.OrderSummary Button {
    margin: 10px 10px 10px 0px;
}