.NavigationItems {
    margin: 0px 0px;
}

.NavigationItems a{
    list-style-type: none;
    color: rgb(255, 255, 255)!important;;
    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.NavigationItems.navDropdown.dropdown-menu  {
    background-color: #8f5c2c !important;
}
.NavigationItems a:hover,
.NavigationItems a:focus,
.NavigationItems a:active{
    color:white;
    background-color: #8f5c2c;
}

@media(min-width:500px) {
    .NavigationItems a{
        list-style-type: none;
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavigationItems a:hover,
    .NavigationItems a:focus,
    .NavigationItems a:active{
        background-color:#8f5c2c;
        border-bottom: 4px solid #40a4c8;
        color: white;
    
    }
}